body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    min-width: 320px;
    margin: auto !important;
    padding: 0;
    overflow-x: hidden;
  }
  
  .container {
    width: 1172px;
    max-width: 1172px;
    margin: 0 auto;
    padding: 0;
  }
  
  ul{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0;
  }
  
  h1, h2, h3, h4, h5, h6, div, header, section, button, span, p, a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.logo{
  margin-top: 59px;
}

.header-menu{
  margin-top: 41px;
}

.header-menu li{
  margin-left: 57px;
  list-style-type: none;
}

.header-menu a{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #afb1b6;
  text-decoration: none;
  cursor: pointer;
}

.active{
  color: #F46B5D;
}

.mn a:hover{
  color: #F46B5D;
  transition: all 0.5s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;                                  
}


.main-banner{
  background-color: #FFF1EC;
  margin: 127px 0;
  padding: 59px 0;
}

.main-banner-text{
  margin: 59px 0 0 0;
}

.main-banner-img{
  margin-top: -104px;
  margin-left: 62px;
}

.main-banner p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #333333;
}

.about{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  color: #333333;
}

h1{
  font-family: 'Inter';
  font-size: 32px;
  margin: 58px 0 -10px 0;
  
}

.about p{
  font-size: 40px;
  margin-bottom: 32px;
}

.you-can h2{
  padding: 166px 0 70px 0;
  font-size: 40px;
}

.you-can-2{
  position: relative;
  width: 300px;
}

.you-can-3{
  position: relative;
  width: 340px;
}

.you-can-1{
  position: relative;
  width: 260px;
}

.you-can span{
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #333333;
}

.you-can-1 span{
  left: 45px;
  top: 20px;
  line-height: 32px;
}

.you-can-2 span{
  left: 45px;
  top: 35px;
}

.you-can-3 span{
  left: 33px;
  top: 11px;
  line-height: 34px;
}

.you-can-bg1{
  background: linear-gradient(180deg, rgba(255, 241, 236, 0) 0%, #FFF1EC 70.06%, #FFF1EC 100%);
  height: 410px; 
  margin-top: -40px;
}

.you-can-bg2{
  background: linear-gradient(180deg, rgba(255, 241, 236, 0) 0%, #FFF1EC 70.06%, #FFF1EC 100%);
  transform: rotate(-180deg);
  height: 200px;
}


.landing-bg1{
  padding: 7px 0 0 0;
  left: 0px;
  background: linear-gradient(180deg, rgba(255, 241, 236, 0) 0%, #FFF1EC 69.4%, #FFF1EC 100%);
}

.landing-bg2{
  background: linear-gradient(180deg, rgba(255, 241, 236, 0) 0%, #FFF1EC 69.4%, #FFF1EC 100%);
  transform: rotate(-180deg);
  height: 200px;
}

.landing{
  margin-top: 70px;
}

.landing h2{
  margin-bottom: 100px;
  font-size: 40px;
}

.landing-card-item{
  width: 265px;
  /*height: 354px;*/
}

figcaption{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  color: #333333;
}

.landing-card-1 figcaption,
.landing-card-2 figcaption{
  padding-top: 56px;
}

.landing-card-3 figcaption,
.landing-card-4 figcaption{
  padding-top: 18px;
}

.landing-card-5 figcaption{
  padding-top: 28px;
}

.landing-card-1,
.landing-card-2,
.landing-card-3,
.landing-card-4{
  width: 270px;
  margin: 36px 46px;
}

.landing-card-5{
  width: 270px;
  margin: 100px 46px 0 46px;
}


.support{
  background-color: #FFF1EC;
  padding-top: 85px; 
  margin-top: 25px;
}

.support h3{
  padding-bottom: 73px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #333333;
}

.support-text{
  margin: 29px 0 64px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #333333;
}

.support-title-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  text-align: center;
  color: #333333;
}

h4{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #F46B5D;
  padding-bottom: 37px;
}

form{
  padding-bottom: 108px;
}

.form input, button{
  padding: 18px 24px;
  gap: 16px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  outline: none;
  /* margin-right: 28px; */
  width: 348px;
}

button, .button-donate{
  background: #FB8F67;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.button-donate{
  padding: 18px 144px;
  border-radius: 10px;
  margin-right: 28px;
  border: none;
  outline: none;
  margin-right: 28px;
  text-decoration: none;
}

.button-donate:hover{
  color: #FFF1EC;
}

.support-card-1,
.support-card-2{
  /*width: 372px;*/
  width: 410px;
}

.support-card-1 button{
  margin: 10px 0 60px 0;
}

.support-card-1 img,
.support-card-2 img{
  margin-left: -18px;
}

.support-card-2 img{
  margin-top: 60px;
}

.support-card-1{
  margin-top: 44px;
}

footer{
  background: #FB8F67;
  padding: 100px 0 84px 0;
}

footer a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

footer li{
  list-style-type: none;
}

footer a:hover{
  color: #ffffffc7;
}
.footer-logo{
  margin-bottom: 32px;
  padding: 0;
}

.footer-1{
  padding-bottom: 32px;
}

/* about-us page */

.team-title{
  font-family: 'Inter';
  font-size: 40px;
  font-style: Medium;
  margin-top: 130px;
}

.team-1{
  margin: 0 auto;
  position: relative;
  background: url('../images/bv1.png') no-repeat top center;
  width: 100%;
  height: 1321px;
}

.team-3{
  margin: 0 auto 0;
  position: relative;
  background: url('../images/bv1.png') no-repeat top center;
  width: 100%;
  height: 1421px;
}


.team-1-content, .team-3-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.team-img-left{
  margin-right: 17px;
}

.team-img-right{
  margin-left: 17px;
}

.card-item{
  /*margin-top: 70px;*/
  width: 832px;
  margin-bottom: 30px;
}

.marina-card{
  margin-bottom: 30px;
}

.elena-ba-card{
  margin-top: -200px;
  margin-bottom: 70px;
}

.elena-ba-img{
  margin-top: 35px;
}

.marina-card .team-text,
.svitlana-card .team-text,
.anastasia-ni-card .team-text,
.elena-ba-card .team-text,
.eleonora-card .team-text{
  width: 480px;
}

.team-name{
  font-family: 'Inter';
  font-style: Medium;
  font-size: 32px;
  color: #F46B5D;
  margin-top: 53px;
}

.team-profession{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #333333;
  margin: 12px 0 28px 0;
}

.team-link{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #333333;
  text-decoration: underline;
}

.team-link:hover{
  color: #4d4a4a;
  text-decoration: none;
}

.team-text{
  margin-bottom: 24px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.team-2{
  margin: -300px auto 0;
  position: relative;
  background: url('../images/bv2.png') no-repeat top center;
  width: 100%;
  height: 1230px;
}

.team-2-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.kate-card{
  margin-top: 60px;
}

.team-helped{
  margin: 80px 0 160px;
}

h3{
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  color: #333333;
  margin-bottom: 60px;
}

.donate{
  padding-bottom: 60px;
}

.donate h3{
  margin-bottom: 0;
}


.team-name-helped{
  font-family: 'Inter';
  font-style: Medium;
  font-size: 22px;
  color: #F46B5D;
  font-weight: 500;
  margin: 12px 0 7px 0;
}

.team-helped-occupacy{
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.team-helped-item{
  max-width: 200px;
}

.team-helped-item img{
  margin-left: 40px;
}

.team-join{
  background: rgba(255, 241, 236, 1);
  padding: 98px 0 96px 0;
}

.team-join-black{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  color: #333333;
  margin-bottom: 24px;
}

.team-join-red{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  color: #F46B5D;
  margin-bottom: 48px;
}

.form-alert-title{
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #F46B5D;
}

.form-alert-text{
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #F46B5D;
  margin-bottom: 120px;
}

.share-card_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  max-width: 900px;
}
.share-card {
  width: 30%;
  margin: auto;
  position: relative;
}
.share-card .button-donate {
  width: 255px;
  padding: 18px;
}
.scimg {
  margin-bottom: -25px;
}
.scimg img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.buttons {
  display: none;
  position: absolute;
  right: -50%;
  bottom: 0%;
  top: 0;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
  
.buttons a {
  color: #FFF1EC;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.buttons a,
.share-card button {
  background-color: #FB8F67;
  padding: 6px;
  border-radius: 10px;
} 


.buttons a:hover,
.share-card button:hover {
  text-decoration: underline;
}

.buttons.active {
  display: flex;
}

.buttons img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 6px;
}
.share-card button {
  width: auto;
  text-align: left;
}

h3 .button-donate {
  background-color: #F46B5D;
}

@media screen and (max-width: 1200px){
  .container{
    width: 90%;
  }

  .form div button{
    margin-top: 30px;
  }


}

@media screen and (max-width: 991px){
  
  .media__menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.92);
    overflow-y: hidden;
    transition: 0.5s;
}

a.close__btn {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: rgba(29, 135, 140, 1);
    display: block;
    transition: 0.3s;
}

#menu-items{
  margin-top: 120px;
}

.header__menu {
    padding-top: 0;
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
}

.header-menu{
  margin-top: 0;
}

.header-menu li{
  margin: 46px 0 0 70px;
}

.media__menu a:hover, .media__menu a:focus {
      color: rgb(119, 172, 175);
}

.media__menu .close__btn {
    position: absolute;
    top: 5px;
    right: 45px;
    font-size: 40px;
}

.mn a{
  color: rgba(29, 135, 140, 1);
}

.media__cursor{
  font-size: 40px;
  color: rgba(29, 135, 140, 1);
  cursor: pointer;
  margin-top: 48px;
}

.media__cursor:hover{
  color: rgba(29, 135, 140, 1);

}

.you-can-bg1{
  height: 560px; 
}

.you-can-bg2{
  height: 100px; 
}

.you-can-3{
  margin-top: 30px;
}

.team-title{
  margin-top: 100px;
  margin-bottom: 70px;
}


.team-1,
.team-2,
.team-3{
  background: none;
  height: auto;
}

.team-1-content,
.team-2-content,
.team-3-content{
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.team-2{
  margin: 0 auto 0;
}

.team-3{
  margin: 240px auto 0;
}

.card-item{
  width: auto;
}

.marina-card .team-text,
.svitlana-card .team-text,
.elena-ba-card .team-text,
.eleonora-card .team-text{
  width: auto;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-helped-item{
  margin: 20px;
}

.team-helped-item img{
  margin-left: 20px;
}

}


@media screen and (max-width: 767px){
  
  .main-banner-img{
    margin-left: 0;
  }

  .main-banner-text p{
    text-align: center;
  }

  .main-banner-block{
    flex-wrap: wrap-reverse;
  }

  .you-can-bg1{
    height: 760px; 
  }

  
  .you-can-1,
  .you-can-2{
    margin-top: 30px;
  }

  footer{
    padding-left: 30px;
  }

  footer img{
    width: 145px;
    height: auto;
  }

  .marina-card{
    margin-bottom: 60px;
  }

  .card-item{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
  }

  .team-name,
  .team-profession{
    text-align: center;
  }

  .team-name{
    margin-top: 23px;
  }

  .marina-card,
  .svitlana-card,
  .elena-ba-card,
  .eleonora-card{
    flex-wrap: wrap-reverse;
}

.regina-card{
  margin-top: 60px;
}

.team-1{
  margin-bottom: 100px;
}

.team-img-left{
  margin-right: 0;
}

.team-img-right{
  margin-left: 0;
}

.button-donate{
  padding: 12px 120px;
  border-radius: 10px;
  margin-right: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

.share-card_wrapper {
  flex-direction: column;
  gap: 30px;
}

.share-card {
  width: auto;
  margin: auto;
}
.buttons {
  right: -10%;
}

.team-helped{
  margin: 80px 0 100px;
}

}


@media screen and (max-width: 575px) {
  .form input, button{
    width: 300px;
  }

  .team-helped{
    margin: 70px 0 92px;
  }
  
  h3{
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 458px) {
  
}

@media screen and (max-width: 410px) {
  
}

@media screen and (max-width: 347px) {
}
